[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "banditsCI"]
	path = banditsCI
	url = https://github.com/uchicago-pol-methods/banditsci
